
:host {
    display: block;
    min-height: 100vh;
    background-image: url('../../../assets/images/auth/register.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0.2rem;
}

mat-card {
    width: 100%;
    max-width: 23rem;
    padding: 1.25rem;
    border-radius: 2rem;
    background-color:rgba(250, 253, 251, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), /* subtle shadow */
    0 2px 4px rgba(0, 0, 0, 0.06); /* secondary shadow for depth */
}

.logo-container {
    margin: 1rem 0;
    margin: 0 auto;
}

.logo {
    height: 3rem;
    width: 100%;
    text-align: center;
}

.title {
    // font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.3rem;

    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 0.9rem;
}

.input-box {
    width: 100%;
    margin-bottom: 0.8rem;
    border-radius: 0.3rem;
}

.eyeicon{
    position: absolute;
    right: -0.4rem;
    top: 23%;
    cursor: pointer; 
  }

.error {
    font-size: 0.8rem;
    margin-left: -0.8rem;
}

.remember-me {
    margin: -0.4rem 0 1.25rem 0;
}

.login-button {
    width: 100%;
    font-size: 1.1rem;
}

.forgot-password {
    margin-top: 0.8rem;
    font-size: 1rem;
    text-align: center;
}

.forgot-password > a {
    cursor: pointer;
    text-decoration: underline;
}
