 <h2 mat-dialog-title>
    {{ data.action === 'approve' ? 'Approve Permit' : 'Reject Permit' }}
  </h2>
  
  <mat-dialog-content class="dialog-content">
    <p>Provide a comment before you {{ data.action }} this permit:</p>
    <mat-form-field appearance="fill" class="comment-box">
      <mat-label>Comment</mat-label>
      <textarea matInput [(ngModel)]="comment" rows="4" placeholder="Enter your comment..."></textarea>
    </mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="close()">Cancel</button>
    <button
      mat-raised-button
      [color]="data.action === 'approve' ? 'primary' : 'warn'"
      (click)="submit()"
      
    >
      {{ data.action === 'approve' ? 'Approve' : 'Reject' }}
    </button>
    <!-- <button mat-raised-button color="warn" (click)="rejectPermit()">Reject</button> -->
  </mat-dialog-actions>
  