<div class="sidebar" *ngIf="isSidebarVisible$ | async" [class.active]="isOpen">
  <ul class="menu">
    <li *ngFor="let item of filteredSingleMenu">
      <a [routerLink]="item.route" class="menu-item" [class.active]="isActive(item)">
        <img [src]="item.image" alt="{{ item.label }}" class="menu-icon" />
        {{ item.label }}
      </a>
    </li>
  </ul>
  <ul class="menu">
    <li *ngFor="let item of filteredMenuItems">
      <div class="menu-item" 
           [class.active]="isActive(item)"
           (click)="toggleSubMenu(item)">
        <img [src]="item.image" alt="{{ item.label }}" class="menu-icon" />
        {{ item.label }}
        <span *ngIf="item.subMenu" class="submenu-indicator">
          {{ item.isSubMenuOpen ? '-' : '+' }}
        </span>
      </div>
      <ul *ngIf="item.subMenu && item.isSubMenuOpen" class="submenu">
        <li *ngFor="let subItem of item.subMenu" 
            [class.active]="isActive(subItem)"
            (click)="onSubMenuItemClick(subItem)">
          <img [src]="subItem.image" alt="{{ subItem.label }}" class="menu-icon" />
          {{ subItem.label }}
        </li>
      </ul>
    </li>
  </ul>
</div>
