@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define your custom color palettes
$custom-primary: mat.define-palette(mat.$green-palette);
$custom-accent: mat.define-palette(mat.$light-green-palette);
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object
$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

// Include the custom theme styles
@include mat.all-component-themes($custom-theme);

// Custom styles for input fields
.mat-mdc-form-field {
  .mdc-text-field--filled {
    background-color: rgba(227, 18, 39, 0.1); // Light green background
  }

  .mdc-text-field--outlined {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: rgb(8, 8, 8); // outline when not focused
    }
  }

  &.mat-focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: darkgreen; // Darker green outline when focused
    }
  }

}


// Custom styles for input fields
.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    padding: 0.5em 0.75em 0 0.75em !important; // Adjust these values as needed
  }

  .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 !important; // Adjust these values as needed
  }

  .mat-form-field-label-wrapper {
    top: -0.84375em;
    padding-top: 0.84375em;
  }

  &.mat-form-field-can-float {
    &.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(0.75);
      width: 133.33333%;
    }
  }
}

// Custom styles for buttons
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-button {
  background: linear-gradient(45deg, #01925B, #01925B) !important; // Lafarge green shades
  color: white !important;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(45deg, #006400, #228B22) !important; // Darker green shades on hover
  }
}



